
@font-face {
  font-family: 'Futura PT light';
  src: url("../font/FuturaPTLight.otf");
}

@font-face {
  font-family: 'Futura PT bold';
  src: url("../font/FuturaPTBold.otf");
}
@font-face {
  font-family: 'Futura PT book';
  src: url("../font/FuturaPTBook.otf");
}
@font-face {
  font-family: 'Futura PT Heavy';
  src: url("../font/FuturaPTHeavy.otf");
}
/* Global style begins here */
body {
  font-family: 'Futura PT medium';
  font-size: 16px;
  line-height: 1.5;

}
/* Reset style */
* {
  margin: 0;
  padding: 0;
}
a, a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}
ul, li {
  margin: 0;
  padding: 0;
}

/* Footer */
#Contact  {
  text-align: center;
  padding: 60px 0 40px 0;
  background-color: #BF7EF8;
  display:inline-block;
  width: 100%;

}
#Contact p {
  margin-top: -5%;
    color: #F0DEFF;
    font-size: 30px;
    margin-bottom: -3%;
}

#Contact a i {
  margin-right: 14px;
}
.social-icons {
  margin-top: 50px;
}
.social-icons li {
  display: inline-block;
  margin: 0 16px;
} 
.social-icons li a {
  display: block;
}
.social-icons li i {
  color: #F0DEFF;
  font-size: 34px;
  transition: all 0.3s;
}
.social-icons li i:hover {
  transform: scale(1.3);
}

/* Footer */
#Email {
  margin-top: -35%;
  text-align: center;
  padding: 60px 0 40px 0;

  
}
#Email p {
    color: #c7c5ca;
    font-size: 40px;
    margin-bottom: 30px;
}
#Email a.email-btn {
    color: #fff;
    background-color: #BF7EF8;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 6px;
    font-size: 28px;
    width: 300px;

}
#Email a.email-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#Email a.email-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#Email a.email-btn:hover span {
  padding-right: 25px;
}

#Contact a.email-btn:hover span:after {
  opacity: 1;
  right: 0;
}
#Email a i {
  margin-right: 14px;
}
